
<div class="container">
  <br>
<h2 style="text-align: center; color:rgb(189, 49, 30)" >Student Details..</h2>
  <table class="table table-striped">

    <thead>
      <tr>
        
        <th scope="col">ID</th>
        <th scope="col">Student_Name</th>
        <th scope="col">Father_Name</th>
        <th scope="col">Sir_Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mob</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">

        <td>{{user.enNo}}</td>
        <td>{{user.studentName}}</td>
        <td>{{user.fatherName}}</td>
        <td>{{user.sirName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.moNo}}</td>
        <td><button (click)="delete(user.enNo)" routerLink="/showstudent" class="btn btn-danger"><span class="material-icons">
          delete
          </span>
          </button></td>
        
      </tr>

    </tbody>
  </table>


</div>