
<div class="bootstrap-wrapper">


    <div class="container">
        <div class="row" style="margin: top 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        ,<img src="../../../assets/logo.png" alt="" />
                    </div>

                    <h1 class="text-center">Add here!..</h1>
                    
                    
                    <form (ngSubmit)="formSubmit1()">

           

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>StudentName</mat-label>
                            <input [(ngModel)]="student.studentName" name="StudentName" matInput
                                placeholder="Enter here">

                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Fathername</mat-label>
                            <input [(ngModel)]="student.fatherName" name="Fathername" matInput
                                placeholder="Enter here" />

                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Sirname</mat-label>
                            <input [(ngModel)]="student.sirName" name="sirname" matInput placeholder="Enter here" />



                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input [(ngModel)]="student.email" name="email" matInput placeholder="Enter here">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>mono</mat-label>
                            <input [(ngModel)]="student.moNo" name="mono" matInput placeholder="Enter here">

                        </mat-form-field>
                        <div class="container">

                            <button mat-raised-button color="primary">ADD</button>



                        </div>

                    </form>
                </mat-card>

            </div>
        </div>

    </div>

</div>