
<div class="bootstrap-wrapper">


    <div class="container">
        <div class="row" style="margin: top 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        ,<img src="../../../assets/logo.png" alt="" />
                    </div>

                    <h1 class="text-center">DELETE  Here!..</h1>

                    <form>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>EnNo</mat-label>
                            <input [(ngModel)]=" delete1.enNo" name="enNo" matInput placeholder="Enter Id here" />
                        </mat-form-field>
                        <div class="container">
                            
                            <button mat-raised-button color="red">Delete</button>


                        </div>

                    </form>
                </mat-card>

            </div>
        </div>

    </div>

</div>