<p>

  <mat-toolbar color="primary">

    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon><span class="material-icons">
        manage_accounts
        </span></mat-icon>
    </a>
    <span>StudentManagementSystem</span>
    <span class="example-spacer"></span>
    <a  [routerLink]="'/aboutus'" mat-icon-button class="example-icon favorite-icon mr20 ml20"
    aria-label="Example icon-button with heart icon">
    AboutUs
  </a>
    
    
    <a [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr20 ml20"
      aria-label="Example icon-button with heart icon">
      Register
    </a>




    <a [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <span class="material-icons">
        login 
        </span>
      
    </a>
  </mat-toolbar>
</p>