
<div class="boostrap-wrapper">
    <div class="container text-center mt">
        <marquee width="60%" direction="right" height="100px">
            <h1 style="color: deeppink;">WelCome To DashBoard..!!!</h1>
        </marquee>
        <div class="example-button-row" >

            <h3 style="color: gold;">If You have to add new Student Then Click here....
                <button routerLink="/addstudent" mat-raised-button color="primary">Admit new Student</button>
            </h3>
            <br><br>

            <br><br>
            <h3 style="color: gold;">If You have to update information of the Student Then Click here....
                <button routerLink="/updatestudent" class="btn btn-success">Update information</button>
            </h3>
            <br><br>
            <br><br>
     <h3 style="color: gold;">If You want to see all information of the Student Then Click here....

                <button routerLink="/showstudent" mat-raised-button color="warn">Show All candidate</button>
            </h3>
        
            <br><br>
            <h3 style="color: gold;">Logout here....
                <button routerLink="" mat-raised-button color="accent"><span class="material-icons">
                    logout
                    </span></button><br>
            </h3>
            <br><br>

        </div>

    </div>